
.headshot {
	border-radius: 50%;
	max-width: 300px;
	max-height: 300px;
	width: auto;
	height: auto;
	object-fit: cover; /* prevents image distortion */
}

.title-container {
	display: flex;
	gap: 20px;
	margin-top: 80px;
}

.timeline-card {
	border-radius: 30px;
	padding-bottom: 30px;
	padding: 20px;
}



.timeline-col {
	position: relative;
}