/* custom.css */
:root {
  --bp-purple: #ad5eb4;
  --bp-blue: #aec5eb;
  --bp-green: #9bc995;
  --bp-orange: #fcab64;
}

.bp-blue {
  color: var(--bp-blue);
}

.bp-purple {
  color: var(--bp-purple);
}

.bp-green {
  color: var(--bp-green);
}
.bp-orange {
  color: var(--bp-orange);
}

.headshot {
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
  object-fit: cover; /* prevents image distortion */
}

.title-container {
  display: flex;
  gap: 20px;
  margin-top: 80px;
}

.timeline-card {
  padding: 10px; /* Space between content and border */
  border: 0;
}

.card-text {
  text-align: left;
}

.timeline-col {
  position: relative;
}

.work {
  background-color: var(--bp-blue);
}

.education {
  background-color: var(--bp-green);
}

.project {
  background-color: var(--bp-orange);
}

.media-link {
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: #333;
  color: white;
  text-decoration: none;
}

.media-link:hover {
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: #aaa;
  color: blue;
}