.headshot {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	object-fit: cover; /* prevents image distortion */
}

.title-container {
	display: flex;
	gap: 20px;
	margin: auto;
	align-content: auto;
}

.timeline-card {
	border-radius: 30px;
	padding-bottom: 30px;
	padding: 20px;
}



.timeline-col {
	position: relative;
}