/* custom.css */
:root {
  --bp-purple: #AD5EB4;
  --bp-blue:   #AEC5EB;
  --bp-green:  #9BC995;
  --bp-orange: #FCAB64; 
}

.bp-blue {
	color: var(--bp-blue);
}

.bp-purple {
	color: var(--bp-purple);
}

.bp-green {
	color: var(--bp-green);
}
.bp-orange {
	color: var(--bp-orange);
}


.headshot {
	border-radius: 50%;
	max-width: 300px;
	max-height: 300px;
	width: auto;
	height: auto;
	object-fit: cover; /* prevents image distortion */
}

.title-container {
	display: flex;
	gap: 20px;
	margin-top: 80px;
}

.timeline-card {
	border-radius: 30px;
  padding: 10px; /* Space between content and border */
  border: 10px solid blue; /* The border itself */
  box-sizing: border-box; /* Includes padding and border in width/height */
}

.card-text {
	text-align: left;
}

.timeline-col {
	position: relative;
}

.work {
	border-color: var(--bp-blue);
}

.education {
	border-color: var(--bp-green);
}

.project {
	border-color: var(--bp-orange);
}
